@import "bootstrap.scss";

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 5px;
  }

  .flex-row {
    .row{
      text-align: start;
    }

  }
}

.right {
  text-align: end;
}

$color : red;
$focus-box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($color, $input-btn-focus-color-opacity);

.field_with_errors {
  .form-control {
    border-color: $color;

    &:focus {
      border-color: $color;
      box-shadow: $focus-box-shadow;
    }
  }
}